.post-in-grid {
    position: relative;
    display: flex;
    
    .cover {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .1s linear;
        cursor: pointer;

        span {
            color: white;
            margin: 15px;
            display: flex;
            align-items: center;
            font-size: 1.1rem;
        }
    }

    .cover:hover {
        opacity: 100;
    }

    svg {
        fill: white;
        margin-right: 5px;
        font-size: 1.3rem;
    }

    @media (max-width: 720px) {
        .cover span {
            margin: 5px;
            font-size: 1rem;
        }
        svg {
            font-size: 1rem;
        }
    }
}