.comment-form {
    width: 100%;
    margin: 20px 0 0 0;
    
    form {
        margin: 0 auto;
        border: 1px solid lightgray;
        border-left: none;
        border-right: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    input {
        width: 90%;
        padding: 10px;
        border: none;
        outline: none;
        color: #333;
    }

    button {
        padding: 10px;
        border: none;
        margin: 0;
        background-color: white;

        svg {
            fill: #333;
        }
    }

    button:hover svg {
        fill: #555;
    }
}